.background-image {
    background-image: url(../img/bacteria.gif);
    background-size: cover;
    height: 100vh; /* Set height to viewport height for full-screen background */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form {
    /* Your form styling */
    position: absolute;
    top: 50%; /* Place the form vertically in the middle */
    left: 50%; /* Place the form horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the form precisely */
    z-index: 1; /* Ensure the form appears above the background */
}
.form-container {
    background-color: transparent; /* Transparent background */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5); /* Black border with 50% opacity */
    border-radius: 10px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #000000;
    font-weight:bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
}

/*style.css*/
.main {
    padding: 200px;
    border: 1px solid #000000;
    border-radius: 15px; /* Adjust the radius to your preference */
    width: 20%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}
h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
     text-align: center;
     font-weight: bolder;
}


/* CSS */
.custom-button {
  background-color: transparent; /* Transparent background */
  border: 1px solid #000000; /* White border */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  border-radius: 15px;
}

.custom-button:hover {
  background-color: #000000; /* White background on hover */
  color: #ffffff; /* Black text color on hover */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.custom-button + .custom-button {
  margin-left: 130px; /* Adjust the margin as needed */
}
.normal-bg {
    background-color: #000000; /* Black background */
    background-image: url('/Predict/static/Predict/img/star.jpg'); /* Falling stars background */
    background-repeat: repeat-y; /* Repeat the stars vertically */
    background-size: cover; /* Cover the entire background */
}

.pneumonia-bg {
    background-color: #000000; /* Black background */
    background-image: url('/Predict/static/Predict/img/star.jpg'); /* Falling stars background */
    background-repeat: repeat-y; /* Repeat the stars vertically */
    background-size: cover; /* Cover the entire background */
}
